

@import "bootstrap";

.bg-dark {
  background-color: #00a39f !important;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #CBA135;
}

.center{
	text-align: center;
}

.jumbotron {
	background-image: asset-url('logo5.jpg');
	background-size: cover;
	margin-bottom: 90px;
	margin-top: 80px;
	height: 250px;
}

.btn-warning {
	background: #682046;
	color: white;
	text-decoration: none;
	border: none;
	font-size: 29px;
}

/*.btn-warnings{
    background: transparent;
    border: 2px solid black;
	color: #682046;
	text-decoration: none;
	border: none;
	font-size: 29px;
	margin-top: 250px;
	cursor: pointer;

}*/

.bt-w{
	background: #682046;
	color: white;
}

.jumb {
	color: #009b5e;
}