

@import "bootstrap";

.bg-dark {
  background-color: #00a39f !important;
}

#logo {
	float: left;
    width: 60px;
}


#logo:hover{
	color: #CBA135;
}

.center{
	text-align: center;
}

.log {
	width: 700px;
	height: 150px;
	margin-bottom: 100px;
	margin-right: 100px;
}
.jumbotron {
/*	background-image: asset-url('ment4.png');*/
	/*opacity: 0.6;*/
/*  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
	background-color: white;
}

.d-block{
	opacity: 0.8;
	height: 500px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*@media only screen and (max-width: 768px) {
	.jumbotron {background-image: asset-url('ship2.png');
	  min-height: 250px;
     }
	.log {
		display: none;
	}*/

.btn-warning {
	background: #682046;
	color: white;
	text-decoration: none;
	border: none;
	font-size: 29px;
}

.jumb{
	color: #00a39f;
}

.btn-xlarge{
	border: 2px solid white;
	background: transparent;
	color: white;
	font-size: 25px;
}


.btn-xlarge:hover{
	background-color: #CBA135;
	border: none;
}











